.detailContainer {
    width: 100%;
}

.header {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    /* 两端对齐 */
    align-items: center;
}

.memberSection {
    margin-bottom: 3rem;
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5rem;
}

.sectionHeader h3 {
    color: #2c3e50;
    font-size: 1.5rem;
    margin: 0;
}